$light_blue: #38aef0;
$white-flash: #fff;

$navy: #2f3e51;
$dark-navy: #253141;
$letter-white: #ffffff;

$white-smoke: #fafafa;
$main-group-black: #333333;
$letter-lightgray: #999999;
$border-gray: #eeeeee;
$letter-black: #434a54;
